/**
------------------------------------------------------------------------------------- ../fonts/Estedad-
**/


@font-face {
	font-family: estedad;
	font-style: normal;
	font-weight: bolder;
	src: url('../fonts/Estedad-FD-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Estedad-FD-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: estedad;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Estedad-FD-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Estedad-FD-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: estedad;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Estedad-FD-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Estedad-FD-Medium.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: estedad;
	font-style: normal;
	font-weight: lighter;
	src: url('../fonts/Estedad-FD-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Estedad-FD-Light.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
